<style>
    .order_box {
        position: inherit;
        left: 800px;
        margin: -653px 0px 0px 0px;
    }
</style>
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Checkout</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="single-product.html">Checkout</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
    <div class="container">


        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8">
                    <h3>Chi tiết thanh toán</h3>

                    <form [formGroup]="CheckoutFrom" (ngSubmit)="Order()" class="row contact_form" action="#"
                        method="post" novalidate="novalidate">
                        <div class="col-md-6 form-group p_star">
                            <label for="post_code">Email</label>
                            <input type="email" formControlName="email" class="form-control" value="">
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <label for="full_name">Tên Khách Hàng</label>
                            <input formControlName="name" type="text" class="form-control" placeholder="">
                            <div *ngIf="CheckoutFrom.invalid && (CheckoutFrom.dirty || CheckoutFrom.touched)">
                                <small class="form-text text-danger"
                                    *ngIf="CheckoutFrom.get('name')?.errors?.['required'] ">Trường Tên Bắt Buộc</small>
                            </div>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <label for="post_code">Số Điện Thoại</label>
                            <input type="text" class="form-control" formControlName="phone" value="">
                            <div *ngIf="CheckoutFrom.invalid && (CheckoutFrom.dirty || CheckoutFrom.touched)">
                                <small class="form-text text-danger"
                                    *ngIf="CheckoutFrom.get('phone')?.errors?.['required'] ">Số
                                    điện thoại bắt buộc</small>
                                <small class="form-text text-danger"
                                    *ngIf="CheckoutFrom.get('phone')?.errors?.['pattern'] ">Trường
                                    giá phải là kiểu số</small>
                            </div>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <label for="address">Địa Chỉ</label>
                            <input formControlName="address" type="text" class="form-control" placeholder="">
                            <small class="form-text text-primary">Ví dụ: 133 Lý Thường Kiệt/ Đông Hà/Quảng Trị</small>
                            <small class="form-text text-danger"
                                *ngIf="CheckoutFrom.get('address')?.errors?.['required'] "> Địa chỉ bắt buộc</small>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <div class="form-group">
                                <label for="post_code">Ghi Chú</label>
                                <input type="text" class="form-control" formControlName="note" value="">
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <input type="checkbox" id="f-option2" name="selector">
                                <label for="f-option2">Create an account?</label>
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <h3>Chi tiết vận chuyển</h3>
                                <input type="checkbox" id="f-option3" name="selector">
                                <label for="f-option3">Vận chuyển đến địa chỉ khác?</label>
                            </div>
                            <textarea class="form-control" name="message" id="message" rows="1"
                                placeholder="Order Notes"></textarea>
                        </div>
                        <button type="submit" class="primary-btn">Đặt hàng</button>

                    </form>
                </div>


                <div class="col-lg-8">
                    <div class="order_box">
                        <h2>Tóm Tắt Đơn Hàng</h2>
                        <div>
                            <ul class="list">
                                <li><a href="#">Sản phẩm <span>Tổng</span></a></li>
                                <li><a href="#">Fresh Blackberry <span class="middle">x 02</span> <span
                                            class="last">$720.00</span></a></li>
                                <li><a href="#">Fresh Tomatoes <span class="middle">x 02</span> <span
                                            class="last">$720.00</span></a></li>
                                <li><a href="#">Fresh Brocoli <span class="middle">x 02</span> <span
                                            class="last">$720.00</span></a></li>
                            </ul>
                            <ul class="list list_2">
                                <li><a href="#">Tổng phụ <span>$2160.00</span></a></li>
                                <li><a href="#">Phí vận chuyển <span>Flat rate: $50.00</span></a></li>
                                <li><a href="#">Tổng <span>$2210.00</span></a></li>
                            </ul>

                        </div>
                        <div class="creat_account">
                            <input type="checkbox" id="f-option4" name="selector">
                            <label for="f-option4">Tôi đã đọc và chấp nhận </label>
                            <a href="#">Điều khoản & điều kiện*</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--================End Checkout Area =================-->