<!-- Start Header Area -->
<header class="header_area sticky-header">
	<div class="main_menu">
		<nav class="navbar navbar-expand-lg navbar-light main_box">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<a class="navbar-brand logo_h" href="index.html"><img src="assets/img/logo.png" width="80px" alt=""></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
					<ul class="nav navbar-nav menu_nav ml-auto">
						<li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
						<li class="nav-item submenu dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
								aria-haspopup="true" aria-expanded="false">Shop</a>
							<ul class="dropdown-menu">
								<li class="nav-item"><a class="nav-link" [routerLink]="['/products']">Sản phẩm</a></li>
								<li class="nav-item"><a class="nav-link" href="category.html">Danh mục</a></li>
								<li class="nav-item"><a class="nav-link" [routerLink]="['/listorder']">Xem Giỏ Hàng</a>
								</li>
								<li class="nav-item"><a class="nav-link" [routerLink]="['/checkout']">Thanh toán sản
										phẩm</a></li>
							</ul>
						</li>

						<li class="nav-item submenu dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
								aria-haspopup="true" aria-expanded="false">Setting</a>
							<ul class="dropdown-menu">
								<li class="nav-item"><a class="nav-link">Elements</a></li>
								<li class="nav-item"><a class="nav-link" [routerLink]="['/login']">Đăng Nhập</a></li>
								<li class="nav-item"><a class="nav-link" [routerLink]="['/register']">Đăng Kí</a></li>
							</ul>
						</li>
						<li class="nav-item"><a class="nav-link" href="https://zalo.me/0343689757">Contact</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="nav-item"><a [routerLink]="['/listorder']" class="fa fa-shopping-cart"
								style="font-size:30px;color:red"><span></span></a></li>
						<li class="nav-item">
							<button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="search_input" id="search_input_box">
		<div class="container">
			<form class="d-flex justify-content-between">
				<input class="form-control" type="text" placeholder="Tìm kiếm nhanh" aria-label="Number" matInput
					(input)="handdleSearch($event)" [matAutocomplete]="auto">
				<mat-autocomplete #auto="matAutocomplete">
					<ng-container *ngFor="let product of products ">
						<a (click)="reloadCurrentPage(product.id)">
							<mat-option class="search_main" [value]="product.name">
								<span><img id="search_image" class="search_image" [src]="url+'/public/uploads/'+product.image"
										[alt]="product.name">
									{{product.name}}
									<b class="price_search">{{ product.price | number }}vnd</b></span>
							</mat-option>
						</a>
						<hr>
					</ng-container>
				</mat-autocomplete>
			</form>
		</div>
	</div>
	<!-- <div class="navbar-search search-style-5">
		<form action="">
		  <div class="search-input">
			<input class="form-control" type="text" placeholder="Tìm kiếm nhanh" aria-label="Number"
			  matInput (input)="handdleSearch($event)" [matAutocomplete]="auto">
			<mat-autocomplete #auto="matAutocomplete">
			  <ng-container *ngFor="let product of products ">
				<a (click)="reloadCurrentPage(product.id)">
				  <mat-option class="search_main" [value]="product.name">
					<span><img id="search_image" class="search_image" [src]="url+'public/uploads/'+product.image"
						[alt]="product.name">
					  {{product.name}}
					  <b class="price_search">{{ product.price | number }}vnd</b></span>
				  </mat-option>
				</a>
				<hr>
			  </ng-container>
			</mat-autocomplete>
		  </div>
		</form>
	  </div> -->
</header>