<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Login/Register</h1>
				<nav class="d-flex align-items-center">
					<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
					<a href="category.html">Login/Register</a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->

<!--================Login Box Area =================-->
<section class="login_box_area section_gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="login_box_img">
					<img class="img-fluid" src="assets/img/login.jpg" alt="">
					<div class="hover">
						<h4>Chào mừng bạn đến với chúng tôi !!</h4>
						<p>MUA BÁN SÁO TRÚC CHUYÊN NGHIỆP, SÁO TRÚC CAO CẤP SỐ 1 VIỆT NAM</p>
						<a class="primary-btn" [routerLink]="['/register']">Create an Account</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="login_form_inner">
					<h3>Login</h3>
					<div class="container">
						<form #formProduct="ngForm" (ngSubmit)="onSubmit(formProduct.value)">
							<div class="form-group">
								<input ngModel #name="ngModel" required minlength="3" type="text" class="form-control"
									name="email" placeholder="email">

								<!-- Show validate -->
								<p *ngIf="name.invalid && (name.dirty || name.touched) && name.errors?.['required']"
									class="help-block text-danger">Email không được rỗng!</p>
							</div>
							<div class="form-group">
								<input ngModel #price="ngModel" required minlength="3" type="password" class="form-control"
									name="password" placeholder="password">

								<p *ngIf="name.invalid && (price.dirty || price.touched) && price.errors?.['required']"
									class="help-block text-danger">Password không được rỗng!</p>
							</div>
							<div class="form-group">
								<button type="submit" [disabled]="!formProduct.valid" class="btn btn-primary">Đăng
									Nhập</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>